$xtxColor: #8c52ff;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;
$hoverColor: #8c52ff;
$hoverColor_selected: rgba(140, 82, 255, 0.1);
$--el-button-border-color:#1dc779;